body {
    font-family: Arial, sans-serif;
    width: 300px;
    padding: 10px;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  #stock-list {
    font-size: 14px;
    margin-top: 10px;
  }
  .item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }
  